
@{
    ViewData["Title"] = "401: 🔒 Unauthorized";
}
<div class="text-center">
    <h1>401 🔒 Unauthorized</h1>
    <h6 class="text-muted">
        It probably means that we couldn't understand who you are, so,
        hopefully you ARE restricted to view this page you might wanna try to 
        <a asp-action="Login" asp-controller="Account" asp-area="">Login 🔐</a>, 
        <a asp-action="Register" asp-controller="Account" asp-area="">Register ➕</a>,
        or, maybe go back to <a asp-area="" asp-controller="" asp-action="">Home Page 🏠</a>.
    </h6>
</div>

