
@{
    ViewData["Title"] = "403: ❌ Forbidden";
}
    <div class="text-center">
        <h1>403 ❌ Forbidden</h1>
        <h6 class="text-muted">
            Although you are authenticated, You don't have permissions 🔑 to view this page.
            Contact the owner or the administrator of this website if you think there have been a mistake.
            You can also try <a asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="">Logging in 🔐</a> using another account,
            Or go back to <a asp-area="" asp-controller="" asp-action="">Home Page 🏠</a>.
        </h6>
    </div>

