
@{
    ViewData["Title"] = "404: Not Found";
}
<h1>404 ☹</h1>
<h6 class="text-muted">
    We're sorry, but you got here somehow.
    If it was us, you are welcome to report.
    Anyway, you can get back to
    <a href="javascript:window.history.back();">Where you've just been</a> or to the
    <a asp-area="" asp-action="" asp-controller="">Home</a>
</h6>

